@import "progress-line";
@import '~semantic-ui-css/semantic.min.css';

body {
  background: #f9f9f9 !important
}

.loader-60devs {
  height:1px;
  box-shadow: 0 0 1px;
  overflow:hidden
}

.shell {
  position: relative;

  >.header {
    overflow:hidden;
    padding:0 30px;
    position: sticky;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    box-shadow:1px 1px 3px -3px #222222;
    z-index:1000;

    .logo {
      display:inline-block;
      margin: 16px 0 2px 0;

      img {
        width:115px;
        height:auto;
      }
    }

    .burger-ico {
      font-size:38px;
      float:right;
      padding:20px 0 0 0;
    }

    .main-nav {
      float:right;
      list-style: none;
      padding:0;
      margin:0;

      li {
        float:left;

        a {
          display:block;
          padding:25px 20px;
          color:#5b5e6d;
          transition: 0.5s;
          border-bottom:2px solid transparent;

          &.active{
            color:#1c299d;
            border-color: #eeb523
          }

          &:hover:not(.active) {
            color:#3f46ad;
            border-color:#ebebeb
          }
        }
      }
    }
  }

  .content {
    padding:20px 30px 10px 30px;
    position:relative;
  }

  .ui.ribbon.label:after {
    border-width: 0 1.2em 0.5em 0;
  }

  .ui.table th.one.wide {
    width: 1.25%;
  }

  .ui.table {border-bottom-left-radius: 0px;border-bottom-right-radius: 0px}

  .qr-reader {
    padding: 25px
  }
}

.modal {
  .main-nav {
    padding:5px 0;
    background:#fff;
    border-radius:5px;
    list-style: none;

    li {
      padding:0;

      &:last-child a, &:last-child span {
        border: none
      }
    }

    a, span {
      display:block;
      padding:20px 30px;
      color: #727e94;
      border-bottom: 1px solid #d4d8df;
      text-align:center;
    }

    .active {
      color: #0beb7b;
    }
  }
}